<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
      <h1>
        Some text here {{ data.matricNum }}
      </h1>
      <img src="{{ data.passport }}" alt="applicant picture">
  </body>
</html>